name: Build & Deploy

on:
  push:
    branches:
      - 'release/**'     # publish alpha on pushes to git-flow release branches
    tags:
      - 'v*.*.*'         # publish stable on semver tags (e.g., v1.2.3)
  workflow_dispatch:      # manual trigger

jobs:
  release:
    name: Publish stable (tagged release)
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci
      #     - run: npm test
      - name: Lint
        run: npm run lint

      - name: Type Check
        run: npm run typecheck

      - name: Test
        run: npm test -- --run

      - name: Build
        run: npm run build



